@-ms-viewport{
    width: device-width;
}
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}
/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.button-container form,
.button-container form div {
    display: inline;
    
}
.button-container button {
    display: inline;
    vertical-align: middle;
}
/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    display: inline;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}
/* Extra style for the Login button (Green) */
.loginbtn {

    padding: 10px 18px;
    display: inline;
    vertical-align: middle;
}
/* Extra style for the cancel button (red) */
.cancelbtn {

    padding: 10px 18px;
    background-color: #f44336;
}
.adminloginbtn {

    padding: 10px 18px;
    background-color: #f44336;
}
/* Extra style for the register button (red) */
.registerbtn {

    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 30%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
    .registerbtn {
        width: 100%;
    }
}
.capbox {
    background-color: #92D433;
    border: #B3E272 0px solid;
    border-width: 0px 12px 0px 0px;
    display: inline-block;
    *display: inline; zoom: 1; /* FOR IE7-8 */
    padding: 8px 40px 8px 8px;
}

.capbox-inner {
    font: bold 11px arial, sans-serif;
    color: #000000;
    background-color: #DBF3BA;
    margin: 5px auto 0px auto;
    padding: 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#CaptchaDiv {
    font: bold 17px verdana, arial, sans-serif;
    font-style: italic;
    color: #000000;
    background-color: #FFFFFF;
    padding: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#CaptchaInput { margin: 1px 0px 1px 0px; width: 135px; }

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
}

.container {
    padding-bottom: 1px;
}
